In [1]:
# Bibliotheken abrufen
import json
import pandas as pd
import requests
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# URL als Variable definieren
url = "https://rodare.hzdr.de/api/records/?page=1&sort=mostrecent&size=1000"

In [3]:
# Funktion um Inhalt aus URL in r zu speichern
r = requests.get(url)

In [4]:
# JSON lesen lassen
json = r.json()

In [5]:
# Dictionary anlegen und Keys der gewünschten Werte definieren
Meta_dict = {}
Meta_dict['type'] = []
Meta_dict['license'] = []
Meta_dict['related_identifier'] = []
Meta_dict['publication_date'] = []
Meta_dict['Access_Right'] = []
Meta_dict['Downloads'] = []
Meta_dict['unique_downloads'] = []
Meta_dict['unique_views'] = []
Meta_dict['views'] = []

In [6]:
# Definition einer Teilliste und for-Schleife, um den type der Records aus allen Einträgen auszulesen und aufzulisten
for record in json['hits']['hits']:
    Meta_dict['type'].append(record['metadata']['resource_type']['type'])
    if 'license' in record['metadata'].keys():
        Meta_dict['license'].append(record['metadata']['license']['id'])
    else:
        Meta_dict['license'].append('NaN')
# Neue Iteration in Liste der related identifier anlegen und dort die Bedigungen für das Auslesen definieren
    count_id = 0
    for identifier in record['metadata']['related_identifiers']:
        if identifier['relation'] == 'isReferencedBy' and 'hzdr' in identifier['identifier']:
            count_id = count_id + 1
    Meta_dict['related_identifier'].append(count_id)
    Meta_dict['publication_date'].append(record['metadata']['publication_date'])
    Meta_dict['Access_Right'].append(record['metadata']['access_right'])
    Meta_dict['Downloads'].append(int(record['stats']['downloads']))
    Meta_dict['unique_downloads'].append(int(record['stats']['unique_downloads']))
    Meta_dict['unique_views'].append(int(record['stats']['unique_views']))
    Meta_dict['views'].append(int(record['stats']['views']))

In [7]:
# Umwandlung der Liste in ein DataFrame 
df = pd.DataFrame(Meta_dict)

In [8]:
df

,type,license,related_identifier,publication_date,Access_Right,Downloads,unique_downloads,unique_views,views
0,dataset,NaN,0,2021-07-21,closed,0,0,9,9
1,dataset,CC-BY-4.0,1,2022-01-01,embargoed,0,0,8,18
2,dataset,NaN,1,2021-07-05,closed,0,0,4,5
3,dataset,CC-BY-4.0,1,2021-07-13,open,0,0,27,40
4,dataset,CC-BY-4.0,1,2020-12-17,open,0,0,26,34
...,...,...,...,...,...,...,...,...,...
255,dataset,CC-BY-SA-4.0,0,2018-05-09,open,22,21,337,399
256,dataset,CC-BY-4.0,0,2018-04-25,open,90,33,344,418
257,dataset,CC-BY-4.0,0,2018-04-12,open,23,18,285,342
258,dataset,NaN,0,2018-03-20,restricted,0,0,249,278
259,image,CC-BY-4.0,0,2018-02-28,open,427,248,403,494

In [9]:
print(df['Downloads'].sum())

17736

In [10]:
df.describe(include='all')

,type,license,related_identifier,publication_date,Access_Right,Downloads,unique_downloads,unique_views,views
count,260,260,260.000000,260,260,260.000000,260.000000,260.000000,260.000000
unique,6,10,NaN,183,4,NaN,NaN,NaN,NaN
top,dataset,CC-BY-4.0,NaN,2021-03-10,open,NaN,NaN,NaN,NaN
freq,198,117,NaN,17,144,NaN,NaN,NaN,NaN
mean,NaN,NaN,0.611538,NaN,NaN,68.215385,24.192308,95.800000,139.365385
std,NaN,NaN,0.496184,NaN,NaN,227.811155,64.048738,100.379388,126.445469
min,NaN,NaN,0.000000,NaN,NaN,0.000000,0.000000,4.000000,5.000000
25%,NaN,NaN,0.000000,NaN,NaN,0.000000,0.000000,41.750000,67.000000
50%,NaN,NaN,1.000000,NaN,NaN,6.000000,4.000000,66.500000,106.000000
75%,NaN,NaN,1.000000,NaN,NaN,37.250000,18.250000,98.000000,158.000000
max,NaN,NaN,2.000000,NaN,NaN,2062.000000,763.000000,672.000000,835.000000

In [15]:
df.shape

(260, 9)

In [14]:
df.dtypes

type                  object
license               object
related_identifier     int64
publication_date      object
Access_Right          object
Downloads              int64
unique_downloads       int64
unique_views           int64
views                  int64
dtype: object

In [16]:
df.columns

Index(['type', 'license', 'related_identifier', 'publication_date',
       'Access_Right', 'Downloads', 'unique_downloads', 'unique_views',
       'views'],
      dtype='object')

In [17]:
len(df)

260